{
  "extends": "airbnb",
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "no-mixed-operators": "off",
    "no-use-before-define": "off",
    "no-shadow": "off"
  }
}
